/* index_tablette.css - FORMAT TABLETTE */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    *
    {
        box-sizing: border-box;
    }

    html
    {
        scroll-behavior: smooth;
    }

    .loading
    {
        top: 20%;
    }

    .fonctionnement
    {
        display: flex;
        flex-direction: column;
    }

    #container_panelfonctionnement
    {
        display: flex;
        flex-wrap: wrap;
    }

    .panel_fonctionnement
    {
        margin: 20px;
    }

    .restaurant
    {
        display: flex;
        flex-direction: column;
    }

    #container_panelrestaurant
    {
        display: flex;
        flex-wrap: wrap;
    }

    .panel_restaurant
    {
        width: 315px;
        height: 250px;
        border-radius: 20px;
        box-shadow: 0px 5px 4px #cfcfcf;
        margin: 20px 20px 20px 20px;
        position: relative;
    }

    .img_panelrestaurant
    {
        width: 315px;
        height: 175px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    *
    {
        box-sizing: border-box;
    }

    html
    {
        scroll-behavior: smooth;
    }

    .loading
    {
        top: 30%;
    }

    .fonctionnement
    {
        display: flex;
        flex-direction: column;
    }

    #container_panelfonctionnement
    {
        display: flex;
        flex-wrap: nowrap;
    }

    .panel_fonctionnement
    {
        margin: 15px;
        width: 290px;
    }

    .restaurant
    {
        display: flex;
        flex-direction: column;
    }

    #container_panelrestaurant
    {
        display: flex;
        flex-wrap: wrap;
    }

    .panel_restaurant
    {
        width: 335px;
        height: 250px;
        border-radius: 20px;
        box-shadow: 0px 5px 4px #cfcfcf;
        margin: 20px 20px 20px 20px;
        position: relative;
    }

    .img_panelrestaurant
    {
        width: 335px;
        height: 175px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }

}
