/* index.css - FORMAT DESKTOP */

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: white;
}

h1
{
    font-family: 'shrikhand';
}

h2
{
    font-family: 'roboto';
}

h3
{
    font-family: 'roboto';
}

h4
{
    font-family: 'roboto';
}

h5
{
    font-family: 'roboto';
}

h6
{
    font-family: 'roboto';
}

#localisation
{
    display: flex;
    height: 50px;
}

#marqueur
{
    width: 20px;
}