@import url("../footer.css");
/* menu.css - FORMAT DESKTOP */

* 
{
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    background-color: #f6f6f6;
}

a /* CSS des liens */
{
    text-decoration: none;
    color: black;
}

h1
{
    font-family: 'shrikhand', sans-serif;
}

h2
{
    font-family: 'roboto', sans-serif;
    font-size: 24px;
}

h3
{
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 16px;
}

h4
{
    font-family: 'roboto', sans-serif;
    font-size: 16px;
}

h5
{
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h6
{
    font-family: 'shrikhand', sans-serif;
    font-size: 24px;
}

p
{
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

strong
{
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

header
{
    display: flex;
    height: 65px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon_arrow
{
    width: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.img_menu
{
    justify-content: center;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.menu
{
    position: relative;
}

.container_titlemenu
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: #f6f6f6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: absolute;
    bottom: 98%;
    margin: 0px 0px 10px 0px;
}

#entrees
{
    animation: menu1 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes menu1
{
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

#plats
{
    animation: menu2 0.7s linear;
    animation-fill-mode: forwards;
}

@keyframes menu2
{
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

#desserts
{
    animation: menu3 0.9s linear;
    animation-fill-mode: forwards;
}

@keyframes menu3
{
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.icon_empty_heart
{
    width: 30px;
    color: black;
    position: absolute;
    right: 25px;
    bottom: 35px;
    cursor: pointer;
}

.icon_heart
{
    width: 30px;
    fill: url(#gradient);
    position: absolute;
    right: 25px;
    bottom: 35px;
    transition: opacity 0.2s ease-in;
}

.heart:hover .icon_empty_heart, .heart .icon_heart
{
    opacity: 0;
}

.heart:hover .icon_heart
{
    opacity: 1;
}

.titre_menu
{
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    position: relative;
}

.titre_menu::after
{
    content: "";
    width: 10%;
    height: 4px;
    background: #99E2D0;
    position: absolute;
    bottom: -10px;
    left: 45%;
}

.container_menu
{
    display: flex;
    justify-content: center;
}

.panel_menu
{
    width: 335px;
    height: 70px;
    background-color: white;
    border-radius: 15px;
    margin: 10px 20px 10px 20px;
    box-shadow: 0px 5px 4px #cfcfcf;
    position: relative;
    overflow: hidden;
}

.text_menu
{
    line-height: 3px;
    padding: 0px 20px 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text_description
{
    display: flex;
    justify-content: space-between;
}

.container_check
{
    display: none;
    position: absolute;
    right: 0%;
    top: 0%;
    background: #99E2D0;
    height: 70px;
    width: 60px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: selection 0.3s linear;
}

.panel_menu:hover .container_check
{
    display: block;
    position: absolute;
    right: 0%;
    top: 0%;
    background: #99E2D0;
    height: 70px;
    width: 60px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: selection 0.3s linear;
}

@keyframes selection {
    from {
        transform: translateX(60px);
    }
    to {
        transform: translateX(0px);
    }
}

.icon_check
{
    background-color: white;
    border-radius: 50%;
    padding: 4px;
    width: 23px;
    height: 23px;
    color: #99E2D0;
    position: absolute;
    top: 35%;
    right: 35%;
    animation: spin 0.3s linear;
    animation-fill-mode: forwards;
}

@keyframes spin
{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#commander
{
    display: flex;
    justify-content: center;
}

#button_degrade
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(-0deg, #9356DC, #FF79DA);
    color: white;
    box-shadow: 0px 5px 4px #cfcfcf;
    transition: all 0.2s;
    margin: 30px 20px 70px 20px;
}

#button_degrade:hover
{
    box-shadow: 0px 5px 4px #8d8d8d;
    background: linear-gradient(-0deg, #9a5ce7, #ff8bde);
}