@import url("../footer.css");
/* menu.css - FORMAT DESKTOP */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'shrikhand', sans-serif;
}

h2 {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
}

h3 {
  font-family: 'roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

h4 {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
}

h5 {
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

h6 {
  font-family: 'roboto', sans-serif;
}

p {
  font-family: 'roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
}

strong {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.icon_arrow {
  width: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.img_menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  position: relative;
}

.container_titlemenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  bottom: 98%;
  margin: 0px 0px 10px 0px;
}

#entrees {
  -webkit-animation: menu1 0.5s linear;
          animation: menu1 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes menu1 {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes menu1 {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#plats {
  -webkit-animation: menu2 0.7s linear;
          animation: menu2 0.7s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes menu2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes menu2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#desserts {
  -webkit-animation: menu3 0.9s linear;
          animation: menu3 0.9s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes menu3 {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes menu3 {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.icon_empty_heart {
  width: 30px;
  color: black;
  position: absolute;
  right: 25px;
  bottom: 35px;
  cursor: pointer;
}

.icon_heart {
  width: 30px;
  fill: url(#gradient);
  position: absolute;
  right: 25px;
  bottom: 35px;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.heart:hover .icon_empty_heart, .heart .icon_heart {
  opacity: 0;
}

.heart:hover .icon_heart {
  opacity: 1;
}

.titre_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 20px 20px 20px;
  position: relative;
}

.titre_menu::after {
  content: "";
  width: 10%;
  height: 4px;
  background: #99E2D0;
  position: absolute;
  bottom: -10px;
  left: 50;
}

.container_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel_menu {
  width: 335px;
  height: 70px;
  background-color: white;
  border-radius: 15px;
  margin: 10px 20px 10px 20px;
  -webkit-box-shadow: 0px 5px 4px #cfcfcf;
          box-shadow: 0px 5px 4px #cfcfcf;
  position: relative;
}

.text_menu {
  line-height: 3px;
  padding: 0px 0px 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#button_degrade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 50px;
  border-radius: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  -webkit-box-shadow: 0px 5px 4px #cfcfcf;
          box-shadow: 0px 5px 4px #cfcfcf;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 30px 20px 70px 20px;
}

#button_degrade:hover {
  -webkit-box-shadow: 0px 5px 4px #8d8d8d;
          box-shadow: 0px 5px 4px #8d8d8d;
  background: -webkit-gradient(linear, left bottom, left top, from(#9a5ce7), to(#ff8bde));
  background: linear-gradient(0deg, #9a5ce7, #ff8bde);
}
/*# sourceMappingURL=menu.css.map */