/* menu_tablette.css - FORMAT TABLETTE */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    #entrees,
    #plats,
    #desserts
    {
        padding: 0px 20px 0px 20px;
    }

    .titre_menu
    {
        display: flex;
        justify-content: flex-start;
        margin: 20px 0px 20px 0px;
        position: relative;
    }

    .container_menu
    {
        display: flex;
        flex-direction: column;
    }

    .panel_menu
    {
        width: 100%;
        margin: 10px 0px 10px 0px;
    }

}